<div class="card">
  <div class="card-footer clearfix">
    <a
      href="javascript:void(0)"
      class="btn btn-sm btn-success float-right"
      (click)="printPdf()"
      >Download Report</a
    >
  </div>

  <div id="htmlData" #htmlData>
    <div class="card-header border-transparent">
      <p class="card-title">INVOICE REPORT</p>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="card-body p-0">
      <div class="table table-bordered">
        <table class="table m-0">
          <thead class="table-primary">
            <tr>
              <th>No PO</th>
              <th>Customer Id</th>
              <th>Warna</th>
              <th>Jenis Bahan</th>
              <th>Jumlah</th>
              <th>Harga</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of data">
              <td><a href="#"></a>{{ data[0] }}</td>
              <td>{{ data[1] }}</td>
              <td>{{ data[2] }}</td>
              <td>{{ data[3] }}</td>
              <td>{{ data[4] }}</td>
              <td>{{ data[5] }}</td>
              <td>{{ data[6] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
