<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Quotation</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th>No PQ</th>
            <th>Customer</th>
            <th>Warna</th>
            <th>Jenis Bahan</th>
            <th>Jumlah</th>
            <th>Harga</th>
            <!-- <th>Status</th> -->
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of purchases">
            <td><a href="#"></a>{{row.noPq}}</td>
            <td>{{row.customerName}}</td>
            <td style="text-align: center;">{{row.warna}}</td>
            <td style="text-align: center;">{{row.jenisBahan}}</td>              
            <td style="text-align: center;">{{row.jumlah}}</td>
            <td>{{row.harga}}</td>
            <!-- <td>{{row.status}}</td> -->
            <td>
                <a href="javascript:void(0)" class="badge badge-success" (click)="editData(row)" data-toggle="modal" data-target="#createOrderModal">process</a>&nbsp;
                <a href="javascript:void(0)" class="badge badge-info" (click)="editData(row)" data-toggle="modal" data-target="#editModal">edit</a>&nbsp;
                <a href="javascript:void(0)" class="badge badge-danger" (click)="editData(row)" data-toggle="modal" data-target="#deleteModal">delete</a>&nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer clearfix">
      <!-- <a href="javascript:void(0)" class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#insertModal" (click)="resetForm()">Add purchase</a> -->
    </div>

    </div>

    <!-- Insert Modal (disabled) -->
  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Quotation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form #insertForm="ngForm">
            <div class="form-group">
                <label for="noPq">No PQ</label>
                <div class="input-group">
                    <input id="noPq" [ngModel]="purchase.noPq" class="form-control" name="noPq">
                </div>
            </div>
            <div class="form-group">
                <label for="customer">Cust Id</label>
                <div class="input-group">
                    <input id="customer" [ngModel]="purchase.customer" class="form-control" name="customer">
                </div>
            </div>
            <div class="form-group">
                <label for="warna">Warna</label>
                <div class="input-group">
                    <input id="warna" [ngModel]="purchase.warna" class="form-control" name="warna">
                </div>
            </div>
            <div class="form-group">
                <label for="jenisBahan">Jenis Bahan</label>
                <div class="input-group">
                    <input id="jenisBahan" [ngModel]="purchase.jenisBahan" class="form-control" name="jenisBahan">
                </div>
            </div>
            <div class="form-group">
                <label for="jumlah">Jumlah</label>
                <div class="input-group">
                    <input class="form-control" id="jumlah" [ngModel]="purchase.jumlah" rows="3" name="jumlah">
                </div>
            </div>
            <div class="form-group">
              <label for="harga">Harga</label>
              <div class="input-group">
                  <input class="form-control" id="harga" [ngModel]="purchase.harga" rows="3" name="harga">
              </div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <div class="input-group">
                <input class="form-control" id="status" [ngModel]="purchase.status" rows="3" name="status">
            </div>
        </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="insertData(insertForm.value)">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Quotation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
                  <input id="noPq" [ngModel]="purchase.noPq" type="hidden" name="noPq">
                  <div class="form-group">
                    <label for="noPq">No PQ</label>
                    <div class="input-group">
                        <input id="noPq" [ngModel]="purchase.noPq" class="form-control" name="noPq" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="customer">Customer</label>
                    <div class="input-group">
                        <input id="customer" [ngModel]="purchase.customerName" class="form-control" name="customer" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="warna">Warna</label>
                    <div class="input-group">
                        <input id="warna" [ngModel]="purchase.warna" class="form-control" name="warna">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jenisBahan">Jenis Bahan</label>
                    <div class="input-group">
                        <input id="jenisBahan" [ngModel]="purchase.jenisBahan" class="form-control" name="jenisBahan">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jumlah">Jumlah</label>
                    <div class="input-group">
                        <input class="form-control" id="jumlah" [ngModel]="purchase.jumlah" rows="3" name="jumlah">
                    </div>
                </div>
                <div class="form-group">
                  <label for="harga">Harga</label>
                  <div class="input-group">
                      <input class="form-control" id="harga" [ngModel]="purchase.harga" rows="3" name="harga">
                  </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="updateData(editForm.value)">Update</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete purchase</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <form #deleteForm="ngForm">
                  <input id="noPq" [ngModel]="purchase.noPq" type="hidden" name="noPq">
                  <p>Are you sure want to delete this record ?</p>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="deleteData(deleteForm.value.noPq)">Delete</button>
          </div>
        </div>
      </div>
    </div>

     <!-- Insert Order Modal -->
  <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Process to Order</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form #insertOrderForm="ngForm">
            <div class="form-group">
                <label for="noPq">No. PQ</label>
                <div class="input-group">
                    <input id="noPq" [ngModel]="purchase.noPq" class="form-control" name="noPq" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="customerName">Customer</label>
                <div class="input-group">
                    <input id="customerName" [ngModel]="purchase.customerName" class="form-control" name="customerName" readonly>
                </div>
            </div>
            <div class="form-group">
              <label for="harga">Harga</label>
              <div class="input-group">
                  <input class="form-control" id="harga" [ngModel]="purchase.harga" name="harga" readonly>
              </div>
          </div>
          <!-- <div class="form-group">
            <label for="harga">No. PO</label>
            <div class="input-group">
                <input class="form-control" id="noPo" [ngModel]="purchase.noPo" name="noPo">
            </div>
        </div> -->
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="createOrder(insertOrderForm.value)">Create Order</button>
        </div>
      </div>
    </div>
  </div>